{{!-- Header --}}
<header class="encabezado">
  <h1 class="titulo_principal">Centro Médico Back-End</h1>
</header>
{{!-- Main --}}
<main class="contenido">
  <h2 class="titulo_seccion">Listado medicos</h2>
  <table>
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Número de Cédula</th>
        <th>Consultorio</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Especialidad</th>
      </tr>
    </thead>
    <tbody>
      <!-- Se agrega el contenido dinamicamente por medio de Handlebars -->
      {{#each resultado}}
        <tr>
          <td>{{nombres}}</td>
          <td>{{apellidos}}</td>
          <td>{{cedula}}</td>
          <td>{{consultorio}}</td>
          <td>{{telefono}}</td>
          <td>{{correo}}</td>
          <td>{{especialidad}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="../index.html"><input type="button" value="Volver" /></a>
</main>
{{!-- Footer --}}
<footer class="pie_pagina">
  <p>
    2023. Hecho por
    <a
      href="https://ehamons.github.io/Portafolio-Elkin/"
      target="_blank"
    ><strong>Elkin Hamón</strong></a>
  </p>
</footer>